{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    </head>
    <body>
        
        <div id="login">
            <h3 class="text-center text-white pt-5">Signup form</h3>
            <div class="container">
                <div id="login-row" class="row justify-content-center align-items-center">
                    <div id="login-column" class="col-md-6">
                        <div id="login-box" class="col-md-12">
                            <form id="login-form"  dir="rtl" align="right" class="form" action="{% url 'accounts:signup' %}" method="post">
                                {% csrf_token %}
                                <h3 class="text-center text-info" >فرم ثبت نام</h3>
                                <div class="form-group">
                                    <label for="username" class="text-info" placeholder="Username" required autofocus>  نام کاربری </label><br>
                                    <input name="username" placeholder="نام خود را وارد کنید" onfocus="this.placeholder = ''" onblur="this.placeholder = 'نام خود را وارد کنید'" class="common-input mb-20 form-control" required="" type="text">
            
                                </div>
                                <div class="form-group">
                                    <label for="email" class="text-info">   ایمیل  </label><br>
                                    <input name="email" placeholder="ایمیل خود را وارد کنید" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" onfocus="this.placeholder = ''" onblur="this.placeholder = 'ایمیل خود را وارد کنید'" class="common-input mb-20 form-control" required="" type="email">
                                
                                </div>
                                <div class="form-group">
                                    <label for="password" class="text-info">   رمز عبور </label><br>
                                    <input name="password1" placeholder="رمز خود را وارد کنید" onfocus="this.placeholder = ''" onblur="this.placeholder = 'رمز خود را وارد کنید'" class="common-input mb-20 form-control" type="password">
                                
                                </div>
                                <div class="form-group">
                                    <label for="password" class="text-info">   تکرار رمز عبور </label><br>
                                    <input name="password2" placeholder="رمز خود را تکرار کنید" onfocus="this.placeholder = ''" onblur="this.placeholder = 'رمز خود را تکرار کنید'" class="common-input mb-20 form-control" type="password">
                                
                                </div>
                                
                                <div class="form-group">
                                    <input type="submit" name="submit" class="btn btn-info btn-md" value="ثبت نام">
                                </div>
                                <div id="register-link" class="text-right">
                                   
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>