{% extends 'base.html' %}
{% load static %}
{% block contant%}
{% load blog_tags %}
{% load jalali_tags %}
<!doctype html>
    <main>
        <!-- breadcrumb Start-->
        <div class="page-notification page-notification2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="{% url 'website:index' %}">خانه</a></li>
                                <li class="breadcrumb-item"><a href="#">بلاگ</a></li> 
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb End-->
        <!-- Hero Area End-->
        <!--? Blog Area Start-->
        <section class="blog_area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mb-5 mb-lg-0">
                            <div class="blog_left_sidebar">
                            {% for post in posts %}
                                <article class="blog_item">
                                    <div class="blog_item_img">
                                        <img class="card-img rounded-0" src="{{post.image.url}}" alt="">
                                        <a href="#" class="blog_item_date">
                                            <h3>{{post.published_date|to_jalali:'%Y / %m '}}</h3>
                                            <p></p>
                                        </a>
                                    </div>
                                    <div class="blog_details"dir="rtl" align="right">
                                        <a class="d-inline-block" href="{% url 'blog:single' pid=post.id  %}">
                                            <h2 class="blog-head" style="color: #2d2d2d;"dir="rtl" align="right">{{post.title}}</h2>
                                        </a>
                                        <p>
                                            {{post.content.snippets}}
                                        </p>
                                        <ul class="blog-info-link"dir="rtl" align="right">
                                           <li><a href="{% url 'blog:single' pid=post.id  %}">
                                            {% for cat in post.Category.all %}
											    <a href ="{% url 'blog:category' cat_name=cat.name %}" ><h>{{cat.name}}</h>&#10148;</a>
										    {% endfor %}
                                           </a> </li>
                                             <li><a href="#">{{post.counted_views}}<i class="fa fa-eye"></i> </a></li>
                                             <li><a href="#">{{post.auther}}<i class="fa fa-user"></i></a></li>
                                             &nbsp;
                                            <li><a href="#"> {% comments_count post.id %}<i class="fa fa-comments"></i></a></li> 
                                        </ul>
                                    </div>
                                </article>
                           {% endfor %}
                            <nav class="blog-pagination justify-content-center d-flex">
                                <ul class="pagination">
                                    {% if posts.has_previous %}
                                        <li class="page-item">
                                            <a href="?page={{ posts.previous_page_number }}" class="page-link" aria-label="Previous">
                                                <i class="ti-angle-left"></i>
                                            </a>
                                        </li>
                                        {% endif %}
                                        {% for i in posts.paginator.page_range %}
                                            {% if posts.number == i %}
                                                <li class="page-item">
                                                    <a href="?page={{i}}" class="page-link">{{i}}</a>
                                                </li>
                                            {% else %}
                                                <li class="page-item active">
                                                    <a href="?page={{i}}" class="page-link">{{i}}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    {% if posts.has_next %}                
                                        <li class="page-item">
                                            <a href="?page={{ posts.next_page_number }}" class="page-link" aria-label="Next">
                                                <i class="ti-angle-right" ></i>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog_right_sidebar">
                            <aside class="single_sidebar_widget search_widget">
                   
                                {% include 'blog/blog-search.html' %}
                            </aside>
                            <aside class="single_sidebar_widget post_category_widget" dir="rtl" align="right">
                                <h4 class="widget_title" style="color: #2d2d2d;"dir="rtl" align="center">دسته بندی</h4>
                                <ul class="list cat-list">
                                    <li>
                                        <a href="#" class="d-flex">
                                            <p>{% postcategories %}</p>
                                            <p>{{post.counted_views}}</p>
                                        </a>
                                    </li>
                                </ul>
                            </aside>
                            <aside class="single_sidebar_widget popular_post_widget"dir="rtl" align="right">
                                <h3 class="widget_title" style="color: #2d2d2d;"dir="rtl" align="center">پربازدید ها </h3>
                                <div class="media post_item">
                                    <div class="media-body">
                                        <a href="#">
                                            <h3 style="color: #2d2d2d;">{% popularposts %}</h3>
                                        </a>
                                    </div>
                                </div>
                            </aside>
                            <aside class="single_sidebar_widget tag_cloud_widget">
                                <h4 class="widget_title" style="color: #2d2d2d;"dir="rtl" align="center">تگ ها</h4>
                                <ul class="list">
                                    <li>
                                        {% include 'blog/blog-tags.html' %}
                                    </li>
                                </ul>
                            </aside>

                            <aside class="single_sidebar_widget instagram_feeds">
                                <h4 class="widget_title" style="color: #2d2d2d;" dir="rtl" align="center"> تبلیغات </h4>
                                    <li>
                                        <a href="#">
                                            {% include 'blog/blog-ads.html' %}
                                        </a>
                                    </li>
                            </aside>
                            <aside class="single_sidebar_widget newsletter_widget" dir="rtl" align="right">
                                <h4 class="widget_title" style="color: #2d2d2d;" >ثبت نام در خبرنامه </h4>
                                    <p>
                                    اولین نفری باشید که از جدیدترین محصولات ، جشنواره ها و فروش های ویژه ما مطلع میشوید . 
                                    </p>
                                <form action="{% url 'blog:newsletter' %}" method="post" class="subscription relative">
                                    {% csrf_token %}
                                <div class="form-group">
                                    <input type="email" class="form-control" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'" placeholder="ایمیل" required="" name="email">
                                </div>
                                <button class="btn bb-btn" type="submit">ارسال</button>
                            
                                <div class="mt-10 info"></div>
                                </form>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Blog Area End -->
    </main>

<!-- Scroll Up -->
<div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->
<!-- Jquery, Popper, Bootstrap -->
<script src="{% static 'assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

<!-- Slick-slider , Owl-Carousel ,slick-nav -->
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/slick.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.slicknav.min.js' %}"></script>

<!-- One Page, Animated-HeadLin, Date Picker -->
<script src="{% static 'assets/js/wow.min.js' %}"></script>
<script src="{% static 'assets/js/animated.headline.js' %}"></script>
<script src="{% static 'assets/js/jquery.magnific-popup.js' %}"></script>
<script src="{% static 'assets/js/gijgo.min.js' %}"></script>

<!-- Nice-select, sticky,Progress -->
<script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.sticky.js' %}"></script>
<script src="{% static 'assets/js/jquery.barfiller.js' %}"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'assets/js/waypoints.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'assets/js/hover-direction-snake.min.js' %}"></script>

<!-- contact js -->
<script src="{% static 'assets/js/contact.js' %}"></script>
<script src="{% static 'assets/js/jquery.form.js' %}"></script>
<script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
<script src="{% static 'assets/js/mail-script.js' %}"></script>
<script src="{% static 'assets/js/jquery.ajaxchimp.min.js' %}"></script>

<!-- Jquery Plugins, main Jquery -->	
<script src="{% static 'assets/js/plugins.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>

<!-- persian calender -->
<script src="{% static 'js/persian-date.js' %}"></script>
<link rel="stylesheet" href="{% static 'jalali_date/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
<script src="{% static 'jalali_date/js/django_jalali.min.js' %}"></script>

</body>
</html>
{% endblock %}