{% extends 'base.html' %}
{% load static %}
{% block contant%}
  <h1 dir="rtl" align="center"> سبد خرید </h1>
<br></br>
     {% comment %} <table>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Total Price</th>
        </tr>
        {% for item in cart %}
        <tr>
            <td>{{ item.product.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.total_price }}</td>
        </tr>
        {% endfor %}
    </table>  {% endcomment %}
    <table class="table table-hover" dir="rtl" align="center">
        <thead>
          <tr> 
            <th> کاربر</th>
            <th>نام محصول</th>
            <th>تعداد محصول</th>
            <th>قیمت محصول</th>
          </tr>
        </thead>
        <tbody>
          {% for order in orders %}
          <tr>
            <td> {{order.user}} </td>
            <td>{{order.product}}</td>
            <td>{{order.quantity}}</td>                      
            <td>{{order.price}}</td>
            <td><div class="form-group" dir="rtl" align="center">
              <a href="{% url 'shop:cart_remove' pid=order.id %}"><button type="submit" style="width:5px;"  class="btn bb-btn">حذف</a>
            </div>
            </button></td>   
          </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock %} 

