{% extends "base.html" %}
{% load static %}
{% load shop_tags %}
{% load blog_tags %}
{% load humanize %}
{% block contant %}

  <!DOCTYPE html>
  <main>
    <!-- breadcrumb Start-->
    <div class="page-notification page-notification2">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item">
                  <a href="{% url 'website:index' %}">خانه</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="#">جزییات محصولات</a>
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- breadcrumb End-->
    <!--? Blog Area Start -->
    <section class="blog_area single-post-area section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 posts-list">
            <div class="single-post">
              <div class="feature-img">
                <img class="img-fluid-details" src="{{product.image.url}}" alt="">
              </div>
              <div class="blog_details">
                <h2 style="color: #2d2d2d;"dir="rtl" align="right">{{product.title}}</h2>
                <ul class="blog-info-link mt-3 mb-4"ir="rtl" align="right">
                  <li><a href="{% url 'shop:details' pid=product.id  %}">
                    {% for cat in product.Category.all %}
                      <a href ="{% url 'shop:category' cat_name=cat.name %}" >&#10148;<h>{{cat.name}}</h></a>
                    {% endfor %}
                      </a> 
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-eye"></i> {{product.counted_views}}</a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-comment"></i> {% comments_count pid=product.id %}</a>
                  </li>
                </ul>
                <p class="excert">{{ product.content|safe }}</p>
                <div class="form-group">
                  <a href="{% url 'shop:cart_add' pid=product.id %}"><button type="submit" class="btn bb-btn">افزودن به سبد خرید</a>
                </div>
                  
                </button>
                <ul class="product-features" dir="rtl" align="right"> <div>ویژگی ها</div>
                  <br>
                  <li class="product-feature-table">
                    <a class="product-feature-table-title"  dir="rtl" align="right">جنس &emsp; : &emsp;</a>
                    <a class="product-feature-table-details" dir="rtl" align="right">{{product.substance|safe}}</a><br></br>
                  
                  </li>
                  <li class="product-feature-table">
                    <a class="product-feature-table-title" dir="rtl" align="right">سایز &emsp; : &emsp;</a>
                    <a class="product-feature-table-details"  dir="rtl" align="right">{{product.size|safe}}</a><br></br>
                  </li>
                  <li class="product-feature-table">
                    <a class="product-feature-table-title" dir="rtl" align="right">رنگ &emsp; : &emsp;</a>
                    <a class="product-feature-table-details" dir="rtl" align="right">{{product.color|safe}}</a><br></br>
                  </li>
                  <li class="product-feature-table">
                  {% if product.status is False %}
                      <a class="product-feature-table-title" dir="rtl" align="center"> ناموجود&emsp; &emsp;</a>
                    {% else %}
                     <a class="product-feature-table-title" dir="rtl" align="center">موجود&emsp; &emsp;</a>
                  {% endif %}
                  </li>
                  <br>
                </ul>
              </div>
              </dev>
              <div class="navigation-top">
                <div class="navigation-area">
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                      <div class="thumb">
                        {% if prev_product.id is not Null %}
                          <a href="{% url 'shop:details' pid=prev_product.id %}">
                            <img class="img-fluid prev-product-img"  
                            src="{{ prev_product.image.url }}" 
                            alt=""> 
                          </a>
                          {% endif %}
                      </div>
                      <div class="arrow">
                        <a href="#"><span class="lnr text-white ti-arrow-left"></span></a>
                      </div>
                      <div class="detials"dir="rtl" align="right">
                        <p>محصول قبلی </p>
                        {% if prev_product.id is not Null %}
                          <a href="{% url 'shop:details' pid=prev_product.id %}">
                            <h4>{{ prev_product }}</h4>
                          </a>
                        {% endif %}
                      </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                      <div class="detials"dir="rtl" align="right">
                        <p>محصول بعدی</p>
                        {% if next_product.id is not Null %}
                          <a href="{% url 'shop:details' pid=next_product.id %}">
                            <h4>{{ next_product }}</h4>
                          </a>
                        {% endif %}
                      </div>
                      <div class="arrow">
                        <a href="#"><span class="lnr text-white ti-arrow-right"></span></a>
                      </div>
                      <div class="thumb">
                        {% if next_product.id is not Null %}
                          <a href="{% url 'shop:details' pid=next_product.id %}">
                            <img class="img-fluid next-product-img"
                                src="{{ next_product.image.url }}"
                                alt="">
                          </a>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="customer-comment" dir="ltr" align="center"></br><a> دیدگاه کاربران </a></div>
              <div class="comments-area"dir="rtl" align="right">
                <h4>{% shopcomments_count pid=product.id %} نظر</h4>
                {% for shopcomment in shopcomments %}
                  <div class="comment-list">
                    <div class="single-comment justify-content-between d-flex">
                      <div class="user justify-content-between d-flex">
                        <div class="thumb">
                          <img src="{% static 'assets/img/blog/comment.png' %}" alt="">
                        </div>
                        <div class="desc">
                          <p href="#">{{ shopcomment.name }}</p>
                          
                          <div class="d-flex justify-content-between">
                            <div class="d-flex align-items-center">
                              <h5>
                                <li class="comment">{{ shopcomment.massage }}
                                &nbsp;
                                &nbsp;
                                &nbsp;
                                <class="date">{{ shopcomment.created_date}}</li>
                              </h5>
                              
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
            <div class="comment-form" dir="rtl" align="center">
              <h4> شما هم نظر خود را بنویسید!</h4>
              <form class="form-contact comment-form"
                    method="post"
                    action="{% url "shop:details" pid=product.id %}">
                {% csrf_token %}
                <div class="row">
                  <input type="hidden" id="id_post" name="post" value={{ product.id }}>
                  {% if request.user.is_authenticated %}
                    <input type="hidden" name="name"  id="id_name" value={{ request.user.username }}>
                    <input type="hidden"
                           name="email"
                           id="id_email"
                           value="{{ request.user.email }}">
                  {% else %}
                    <div class="col-sm-6">
                      <div class="form-group">
                        <input class="form-control"
                               name="name"
                               type="text"
                               maxlength="255"
                               required=""
                               id="id_name"
                               placeholder="نام">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <input class="form-control"
                               name="email"
                               type="email"
                               maxlength="254"
                               required=""
                               id="id_email"
                               placeholder="ایمیل">
                      </div>
                    </div>
                  {% endif %}
                  <div class="col-12">
                    <div class="form-group">
                      <textarea class="form-control w-100"
                                name="massage"
                                cols="40"
                                rows="10"
                                onfocus="this.placeholder = ''"
                                onblur="this.placeholder = 'Messege'"
                                id="id_massage"
                                required=""
                                placeholder=" متن نظر"></textarea>
                                <p>   </p>
                    </div>
                  </div>
                  <div class="col-12" style="margin-top: 10px">
                    <div class="form-group">
                      <input class="form-control"
                             name="subject"
                             type="text"
                             placeholder="عنوان"
                             maxlength="255"
                             required=""
                             id="id_subject"
                             onfocus="this.placeholder = ''"
                             onblur="this.placeholder = 'Subject'">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn bb-btn">
                  ثبت نظر </a>
                </div>
              </form>
              {% if messages %}
                <ul class="messages">
                  {% for message in messages %}
                    <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
              {% if form.subject.errors %}
                <ol>
                  {% for error in form.subject.errors %}
                    <li>
                      <strong>{{ error|escape }}</strong>
                    </li>
                  {% endfor %}
                </ol>
              {% endif %}
            </div>
          </div>
          <div class="col-lg-4">
            <div class="blog_right_sidebar" dir="rtl" align="right">
              <aside class="single_sidebar_widget search_widget" >
                {% include 'shop/shop-search.html' %}
              </aside>
              <aside class="single_sidebar_widget post_category_widget"dir="rtl" align="center">
                <h4 class="widget_title" style="color: #2d2d2d;">دسته بندی </h4>
                <ul class="list cat-list">
                  <li>
                    <a href="#" class="d-flex">
                      <p>{% productcategories %}</p>
                    </a>
                  </li>
                </ul>
              </aside>
              <aside class="single_sidebar_widget popular_post_widget"dir="rtl" align="center">
                <h3 class="widget_title" style="color: #2d2d2d;">آخرین محصولات</h3>
                <div class="media post_item">
                  <div class="media-body">
                    <a href="#">
                      <h3 style="color: #2d2d2d;">{% latest_products %}</h3>
                    </a>
                  </div>
                </div>
              </aside>
              <aside class="single_sidebar_widget instagram_feeds"dir="rtl" align="center">
                <h4 class="widget_title" style="color: #2d2d2d;">تبلیغات </h4>
                <li>
                  <a href="#">{% include 'blog/blog-ads.html' %}</a>
                </li>
              </aside>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!-- Blog Area End -->
  <!-- Scroll Up -->
  <div id="back-top">
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
  </div>
  <!-- JS here -->
  <!-- Jquery, Popper, Bootstrap -->
  <script src="{% static 'assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
  <script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
  <script src="{% static 'assets/js/popper.min.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
  <!-- Slick-slider , Owl-Carousel ,slick-nav -->
  <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assets/js/slick.min.js' %}"></script>
  <script src="{% static 'assets/js/jquery.slicknav.min.js' %}"></script>
  <!-- One Page, Animated-HeadLin, Date Picker -->
  <script src="{% static 'assets/js/wow.min.js' %}"></script>
  <script src="{% static 'assets/js/animated.headline.js' %}"></script>
  <script src="{% static 'assets/js/jquery.magnific-popup.js' %}"></script>
  <script src="{% static 'assets/js/gijgo.min.js' %}"></script>
  <!-- Nice-select, sticky,Progress -->
  <script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
  <script src="{% static 'assets/js/jquery.sticky.js' %}"></script>
  <script src="{% static 'assets/js/jquery.barfiller.js' %}"></script>
  <!-- counter , waypoint,Hover Direction -->
  <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
  <script src="{% static 'assets/js/waypoints.min.js' %}"></script>
  <script src="{% static 'assets/js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'assets/js/hover-direction-snake.min.js' %}"></script>
  <!-- contact js -->
  <script src="{% static 'assets/js/contact.js' %}"></script>
  <script src="{% static 'assets/js/jquery.form.js' %}"></script>
  <script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
  <script src="{% static 'assets/js/mail-script.js' %}"></script>
  <script src="{% static 'assets/js/jquery.ajaxchimp.min.js' %}"></script>
  <!-- Jquery Plugins, main Jquery -->
  <script src="{% static 'assets/js/plugins.js' %}"></script>
  <script src="{% static 'assets/js/main.js' %}"></script>
  
</body>
</html>
<style>
  .product-features{
    font-size:20px !important;
  }
 .product-feature-table {
    align-right:100px !important;
    color: #800080;
    font-size: 16px;
    letter-spacing: normal;
    line-height: normal;
  
}
.customer-comment{
  font-size:30px;
  color:#800080!important;
}
  
  .img-fluid {
     width: 100%;
    height: auto;
  }
  .img-fluid-details{
    dir:rtl;
    height:500px !important;
    width: 600px !important;

  }

  .next-product-img{
    width: 80px !important;
    height: 80px !important;
  }
  .prev-product-img{
    width: 80px !important;
    height: 80px !important;
  }

</style>
{% endblock %}
