{% load static %}
            <div class="single-sidebar-widget search-widget">
                <form class="search-form" action="{% url 'shop:search' %}" method="get" dir="rtl" align="right">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" dir="rtl"  placeholder='چی می خوای ؟'
                                            onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = 'Search Keyword'" name="s"> 

                                <div class="input-group-append">
                                    <button class="btns" type="submit"><i class="ti-search"></i></button>
                                </div> 
                        </div>
                     </div>
                    <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                    type="submit">پیدا کن </button>
                                    
                </form> 
            </div>

<style>
      
.single_sidebar_widget {
        background: #fbf9ff;
        padding: 30px;
        margin-bottom: 30px;
    }
.form-control{
    height:50 !important;
}
.input-group {
    position: relative;
    display: flex;
    flex-wrap:wrap;
    align-items: stretch;
    height:50px;

}
.input-group button {
    background: #9F78FF;
    border-left: 0;
    border: 1px solid #f0e9ff;
    padding: 4px 15px;
    border-left: 0;
    cursor: pointer;

}
</style>