{% load static %}
{% load humanize %}
{% load jalali_tags %}
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-9">
                <div class="section-tittle mb-60 text-center wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <h2>محبوب ترین</h2>
                </div>
            </div>
        </div>
    <div class="row">
        {% for product in products %}
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-popular-items mb-50 text-center">
                    <div class="popular-img">
                        <img src="{{product.image.url}}" alt="">
                        <div class="img-cap">
                            <span>{{product.title}}</span>
                            </div>
                            <div class="favorit-items">
                                <a href="{% url 'shop:details' pid=product.id %}" class="btn">بخرید</a>
                            </div>
                        </div>
                    </div>
                </div>
            
        {% endfor %}
    </div>
    </div>

    <style>
        
    </style>