{% load static %}
{% load static compress %}

<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Fashion | Shop </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    {% compress css %}
    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/progressbar_barfiller.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animated-headline.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    {% endcompress %}
</head>
<body class="full-wrapper">
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'assets/img/logo/loder.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start-->
    <header>
        <!-- Header Start -->
        <div class="header-area ">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="menu-wrapper d-flex align-items-center justify-content-between" dir="rtl" align="right">
                        <div class="header-left d-flex align-items-center">

                            <!-- Main-menu -->
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="{% url 'website:index' %}"> خانه</a></li> 
                                        <li><a href="shop.html">خرید</a></li>
                                        <li><a href="{% url 'website:about' %}">درباره ما</a></li>
                                        <li><a href="{% url 'blog:index' %}">بلاگ </a></li>
                                        <li><a href="{% url 'website:contact' %}">تماس با ما </a></li>
                                    </ul>
                                </nav>
                            </div>   
                        </div>
                        <div class="header-right1 d-flex align-items-center">
                            <!-- login -->
                            <div class="header-social d-none d-md-block">
                                
                                {% if request.user.is_authenticated %}
                                       <span>{{request.user.username}}&ensp;وارد شد </span>
                                            &ensp;
                                            &emsp;
                                       <span><a href="{% url 'accounts:logout' %}">خروج</a></span>
                                {% else %}
                                        <span><a href="{% url 'accounts:login' %}">ورود</a></span>
                                        <span><a href="{% url 'accounts:signup' %}">ثبت نام</a></span>
                                    
                                {% endif %}
                                
                                  
                            </div> 
                            <!-- Search Box -->
                            <div class="search d-none d-md-block">
                                <ul class="d-flex align-items-center">
                                    <li class="mr-15">
                                    </li>
                                    <li>
                                        <div class="card-stor">
                                            <img src="{% static 'assets/img/gallery/card.svg' %}" alt="">
                                            <span>0</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>

    {%block contant%}


    {% endblock %}
<!--? Services Area Start -->
<div class="categories-area section-padding40 gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                    <div class="cat-icon">
                        <img src="{% static 'assets/img/icon/c968eac8.svg' %}"width=100px , hight=68px; alt="">
                    </div>
                    <div class="cat-cap">
                        <h5> تحویل سریع و رایگان </h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                    <div class="cat-icon">
                        <img src="{% static 'assets/img/icon/bc93f765.svg' %}"width=100px , hight=68px; alt="">
                    </div>
                    <div class="cat-cap">
                        
                        <h5>روز ضمانت بازگشت کالا۱۴</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-cat mb-30 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                    <div class="cat-icon">
                        <img src="{% static 'assets/img/icon/bafc4f4a.svg' %}" width=100px , hight=68px; alt="">
                    </div>
                    <div class="cat-cap">
                        <h5>ضمانت اصل بودن کالا</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--? Services Area End -->

<!-- Footer Start-->
